@import "tailwindcss";

:root {
  --background: #e8dcc2;
  --background-item: #0b3d2e;
  --foreground: #e8dcc2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8dcc2;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 47.5rem;
}

.navbar {
  background-color: var(--background-item);
  color: var(--background);
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-weight: 700;
  font-size: 3rem;
}

.navbar__nav {
  /* styles du conteneur nav */
}

.navbar__list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  /* si besoin */
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: var(--background-item);
  color: var(--background);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.footer--contact {
  display: flex;
  gap: 1rem;
}
